:root {
  --notch-size: min(19vw, 180px);
  --menu-width: min(92vw,900px);
  --menu-height: max(8.5vh, 100px);
  --btn-padding: min(1vh,10px);
  --space: min(1.5vw,15px);
}

#boom {
  z-index: 5;
  position: fixed;
  max-width: 900px;
  max-height: 300px;
  bottom: 4vh;
  right: 4vw;
}

#menu-notch {
  /*sombra*/
  width: var(--menu-width);
  height: var(--menu-height);
  min-height: 50px;
  min-width: 50px;
  border-radius: calc(var(--menu-height) / 2);
  position: relative;
  overflow: hidden;
}

#menu-notch::before {
  content: "";
  display: inline-block;
  /*for notch style*/
  background: transparent;
  width: var(--notch-size);
  height: var(--notch-size);
  border-radius: 50%;
  /*Position Notch*/
  position: relative;
  left: calc((var(--menu-width) / 2) - (var(--notch-size) / 2));
  top: calc(var(--notch-size) / -2);
  /*Menu Items*/
  box-shadow: 0 calc(var(--menu-height) * 2) 0 var(--menu-width) #FFFFFF;
  max-width: 900px;
}

#add-button {
  content: "";
  z-index: 2;
  position: absolute;
  height: calc(var(--notch-size) - var(--space) * 2);
  width: calc(var(--notch-size) - var(--space) * 2);
  border-radius: 50%;
  top: calc((var(--notch-size) / -2) + var(--space));
  left: calc((var(--menu-width) / 2) - (var(--notch-size) / 2) + var(--space));
}

#menu-overlay {
  width: var(--menu-width);
  height:var(--menu-height);
  border-radius: calc(var(--menu-height) / 2);
  max-width: 900px;
  position: absolute;
  max-height: 150px;
  overflow: hidden;
  top: 0;
  background-color: transparent;
  padding-left: var(--btn-padding);
  padding-right: var(--btn-padding);
  color: #A99DC6;
  /*Menu 1*/
}

.divition {
  position: absolute;
  display: inline-block;
  width: calc(
    (var(--menu-width) - (var(--btn-padding) * 2)) / 5
  ); /*remove paddings*/
  height: var(--menu-height);
  text-align: center;
  padding-bottom: 9px;
  background-color: transparent;
}

.divition svg {
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  height: 4vh;
}

.div-1 svg{
  height: 2vh;
}

.divition svg path:hover {
  fill: url(#paint0_linear);
}

#div-0 {
  left: var(--btn-padding);
}

#div-1 {
  left: calc(
    (var(--menu-width) - (var(--btn-padding) * 2)) / 5 + var(--btn-padding)
  );
}
#div-2 {
  padding-top:  5.6vh ;
  left: calc(
    ((var(--menu-width) - (var(--btn-padding) * 2)) / 5) * 2 +
      var(--btn-padding)
  );
}
#div-3 {
  left: calc(
    ((var(--menu-width) - (var(--btn-padding) * 2)) / 5) * 3 +
      var(--btn-padding)
  );
}
#div-4 {
  left: calc(
    ((var(--menu-width) - (var(--btn-padding) * 2)) / 5) * 4 +
      var(--btn-padding)
  );
}
